fastapi==0.115.12
uvicorn==0.34.0
pydantic==2.10.6
python-jose==3.4.0
python-multipart==0.0.20
passlib==1.7.4
bcrypt==4.3.0
pytest==7.4.0
pytest-cov==4.1.0
httpx==0.28.1
sqlalchemy==2.0.39
bson==0.5.10
pymysql==1.1.1
email-validator==2.2.0
pydantic_settings==2.8.1
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-sts==3.1.2
cryptography==44.0.1
zhipuai==2.1.5.20250106
openai==1.68.2
redis==5.2.1
celery==5.4.0
langchain==0.3.21
langchain_community==0.3.21
langchain_openai==0.3.10
pdfminer.six==20250327
oss2
tenacity
langgraph
faiss-cpu==1.10.0
